<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/vue@next"></script>         
        <link rel="stylesheet" href="assets/app.css"> 
    </head>     
    <body> 
        <div class="row text-white" id="pole"> 
            <div class="col-md-4 col-sm-12"> 
                <div class="row mt-2 widget-base" :style="bannerHeight">
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12">
                                <img :src="orgLogo" width="150" class="org-logo"> 
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 d-xl-block">
                                <div class="applicationName d-flex justify-content-center">{{applicationName}}</div>
                                <div class="locationLine1 d-flex justify-content-center">{{locationLine1}}</div>
                                <div class="locationLine2 d-flex justify-content-center">{{locationLine2}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" v-for="item in summary">
                        <div class="summary-logo">
                            <img :src="item.icon" width="30" class="sensor-logo">
                        </div>
                        <div class="summary-name">{{item.name}}</div>
                        <div class="summary-unit">{{item.unit}}</div>                         
                        <div class="summary-value">{{item.value}}</div>                         
                    </div>
                </div>                 
            </div>             
            <div class="col-md-8 col-sm-12">
                <div class="row widget-base mt-2"> 
                    <div class="col-12 d-block d-md-none">
                        <div class="row detail">
                            <div class="col-md-5 col-sm-12">ตำแหน่งที่ตั้ง : {{locationName}}</div>
                            <div class="col-md-5 col-sm-12">หมายเลขเสา : {{poleId}}</div>
                            <div class="col-md-2 col-sm-12">สถานะ : {{status}}</div>
                        </div>
                        <div class="row">
                            <hr class="sensor-divider">
                        </div>
                    </div>
                    <div class="col-4 d-none d-md-block" :style="bannerHeight">
                        <div class="detail-header">ตำแหน่งที่ตั้ง :</div>
                        <div class="detail-value">{{locationName}}</div>
                        <div class="detail-header">หมายเลขเสา :</div>
                        <div class="detail-value">{{poleId}}</div>
                        <div class="detail-header" style="display:flex">สถานะ : 
                            <div class="detail-value-status">{{status}}</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 mt-2" v-for="item in data">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="sensor-name">{{ item.name }}</div>
                                        <img :src="item.icon" width="50" class="sensor-logo">
                                    </div>
                                    <div class="col-4">
                                        <div class="sensor-value d-flex justify-content-center">
										{{ item.value }}</div>
                                        <div class="sensor-unit d-flex justify-content-center">{{ item.unit }}</div>
                                        <div class="sensor-indicator d-flex justify-content-center">{{ item.indicator }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr class="sensor-divider">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                 
            </div>             
        </div>         
       <script src="assets/js/zoid.js"></script>
       <script src="assets/js/client-sdk.js"></script> 
        <script src="assets/js/app.js"></script>         
    </body>     
</html>